.card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    width:850px;
    text-align: center;
    background-color:black;
    margin: auto;
}
.card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    width:850px;
    text-align: center;
    background-color:black;
    margin: auto;
}
